<h1>{{titulo}}</h1>
<div class="row">
    {{#each usuarios}}
    <div class="col-xs-12 col-sm-6 col-md-6">
        <div class="well well-sm">
            <div class="row">
                <div class="col-sm-6 col-md-4">
                    <img src="http://placehold.it/380x500" alt="" class="img-rounded img-responsive" />
                </div>
                <div class="col-sm-6 col-md-8">
                    <h4>{{NOMBREEMPLEADO}} {{APELLIDOEMPLEADO}}</h4>
                    <i class="glyphicon glyphicon-home"></i> {{DIRECCIONEMPLEADO}}
                    <br />
                    <i class="glyphicon glyphicon-phone-alt"></i> {{TELEFONOEMPLEADO}}
                    <br />
                    <i class="glyphicon glyphicon-envelope"></i> {{EMAILEMPLEADO}}
                    <br />
                    <i class="glyphicon glyphicon-calendar"></i> {{FECHAINGRESO}}
                    <br />
                </div>
            </div>
        </div>
    </div>
    {{/each}}
</div>